* {
    margin: 0;
    padding: 0;
}

a {
    color: #c80000;
}

.wrapper {
    min-width: 1000px;
}

input[type="submit"] {
    width: 200px;
    padding: 5px 15px;
    margin: 20px 10px;
    background: linear-gradient(#5CCD00, #4AA400);
    color: #000;
    border: 1px solid #490;
    border-radius: 5px;
}

input[type="submit"]:active {
    background: #af0;
}

select {
    display: block;
}

.message {
    margin: 5px 10px;
    border-radius: 15px;
    padding: 5px 20px;
    background: rgb(128, 90, 128);
}

/* header */

header {
    height: 110px;
}

header img {
    width: 180px;
    float: left;
    margin: 10px 0 0 30px;
}

.account {
    float: right;
    margin: 10px 130px 0 0;
}

.account img {
    width: 50px;
    margin: 0 0 10px 10px;
}

.account input {
    display: inline-block;
}

.account input[type="submit"] {
    background: #FFF url("/assets/img/search.png");
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0 0 0 10px;
    border: 1px solid #000;
    vertical-align: middle;
}

#lng {
    border-bottom: 1px solid #aaf;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 38px;
    width: 128px;
}

#lng > a {
    display: inline-block;
    background: url('/assets/img/lng.png');
    transition: background-position-y 1s;
    background-position-y: bottom;
    height: 38px;
    width: 40px;
}

#lng > a:hover {
    background-position-y: 0
}

/* categories */
nav {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .5);
    border-left: 0;
    border-right: 0;
}

nav ul {
    list-style: none;
    height: inherit;
    text-align: center;
}

nav ul li {
    transition: all .2s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    height: inherit;
}

nav ul li:hover {
    background: rgb(200, 100, 150);
}

nav ul li a {
    display: flex;
    align-items: center;
    height: inherit;

    color: #302;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
}

.footer{
    text-align: center;
}

/* submenu

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

nav ul ul li {
    position: relative;
    display: block;
}

nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
} */