@keyframes colorchange {
    0% {color: #7e7c7c;}
    50% {color: #713399;}
    100% {color: #eb268f;}
}
@keyframes recolorchange {
    0% {color: #eb268f;}
    50% {color: #713399;}
    100% {color: #7e7c7c;}
}
.dodo a{
    color: #000;
}
.dodo a:hover{
    text-decoration: none;
    color: #713364;
}
.dodo a:hover i{
    color: #713399;
}
.dodo i{
    color: #713364;
}
.naviq{
    text-align: center;
}

.naviq a{
    color: #7e7c7c;
    padding: 0 25px;
    animation-name: recolorchange;
    animation-duration: 3s;
    text-transform: capitalize;
    transition: all 1s;
    font-size: 16px !important;
}
.naviq a:hover{
    color: #eb268f;
    text-decoration: none;
    animation-name: colorchange;
    animation-duration: 1s;
}


            
.registerbutton{
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    background-color: #713364; 
    padding: 3px 20px; 
    margin: 0 auto;
    font-weight: lighter;
    display: block;
}
.divHF{
    color: #fff;
    background-color: #713364;
}
.reklam{
    writing-mode: tb-rl;
}
.sss{
    text-align: center;
}
.items{
    margin-bottom:30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
    box-shadow: 0 0 10px #d9d5d5;
    transition: all 0.3s ease-in-out;
}
.items:hover{
    box-shadow: 0 0 30px #cccccc;
    transform: scale(1.03, 1.03);
}
.ui.dimmer{
    top: auto !important;
}
.dimmers{
    height: 60px !important;
    bottom: 0px !important;
    border-radius: 10px;
}
.dimmers h1{
    font-family: copyFont !important;
}
.catogs{
    padding: 0 10px;
}
.catogs img{
    border-radius: 10px;
}       
.maincon{
    background-color: #fff;
    max-width:1000px !important;
    min-height: 90%;
    box-shadow: 0 0 12px #d9d5d5;
}  
.copyright{
    color: #fff;
    font-family: copyFont;
}

 body {
    font-family: copyFont;
    background-color: #f4f4f4;
}
.forma{
    width: 100%;
}
.forma td{
    padding: 5px;
}
.msg{
    
}
            
@media only screen and (max-width: 991px) {
    .naviq a{
        padding: 0 5px;
        white-space: nowrap;
    }
                
    .martop{
        margin-top: 20px;
    }

    
}