<div class="items">
    <div class="ui fluid image" style="border-bottom: 1px solid #d9d5d5;">
        <a ng-href="{{item.url}}" class="ui purple ribbon label" style="font-size:inherit; background-color: #8A3A7A !important;">
            {{item.name}}
        </a>
        <a ng-href="{{item.url}}" >
            <a ng-href="{{item.url}}"><img width="200px" ng-src="{{item.image}}" /></a>
        </a>
                
    </div>
    <div style="background: #f5f5f5;">
    <div class="content text-center" style="padding:5px;">
        {{item.melumat}}
    </div>

    <div class="text-right"style="padding:10px;">
                   
        <a class="ui tag label" style="font-size:inherit;">
            {{item.qiymet}}
        </a> 
    </div>
    
    </div>
    

</div>



                

