<!-- Start for extra small devices -->
<div class="visible-xs">
    <div ng-repeat="item in oneRow">
        <div the-item></div>
    </div>
</div>
<!-- End for extra small devices -->

<!-- Start for small devices -->

<div class="visible-sm">
    <div class="col-sm-6">
         <div ng-repeat="item in twoRowf">
            <div the-item></div>
        </div>
    </div>

    <div class="col-sm-6">
        <div ng-repeat="item in twoRows">
            <div the-item></div>
        </div>
    </div>

</div>

<!-- End for small devices -->

<!-- Start for medium and large devices -->

<div class="visible-md visible-lg">
    <div class="col-md-4">
        <div ng-repeat="item in thRowf">
            <div the-item></div>
        </div>
    </div>

    <div class="col-md-4">
        <div ng-repeat="item in thRows">
            <div the-item></div>
        </div>
    </div>

    <div class="col-md-4">
        <div ng-repeat="item in thRowt">
            <div the-item></div>
        </div>
    </div>

</div>

    <!-- End for medium and large devices -->